graft docs
graft src
graft tests

include .bumpversion.cfg
include .coveragerc
include .editorconfig
include .readthedocs.yml
include .codeclimate.yml
include pyproject.toml

include README.rst
include README.md
include AUTHORS.rst
include CHANGELOG.rst
include CONTRIBUTING.rst
include COPYING
include CODE_OF_CONDUCT.md
include PULL_REQUEST_TEMPLATE.md

include tox.ini .travis.yml

global-exclude *.py[cod] __pycache__/* *.so *.dylib
global-exclude tags
global-exclude *.swp
global-exclude *.debug *.log

prune gui
prune core
prune Documentation
prune install
prune .idea
exclude install_farseernmr.py
